html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="/css/style.css")

    title Menyoo FAQ
  body

    header.bg-brand-blue.p-4
      .max-w-xl.mx-auto.flex.items-center
        .w-1_2
          img(src="/images/menyoo-logo-white-horizontal.png", alt="").h-12
        .w-1_2.text-right
          a(href="#").bg-dark-orange.text-white.p-2.rounded-lg.no-underline Crie sua conta

    //- HERO
    .py-16.text-center
      h1.text-grey.font-thin.mb-4 Estamos aqui para te ajudar
      p.text-grey-lighter.text-sm.max-w-lg.mx-auto Nos links abaixo você vai encontrar as respostas para algumas das mais frequêntes perguntas que recebemos

    //- QUESTIONS

    .max-w-md.mx-auto
      .flex.flex-wrap
        .border.border-grey-lightest.rounded-sm.m-4.p-4
          h2.text-lg.text-brand-blue.mb-2 Lorem ipsum dolor sit amet.
          p.text-sm.tracking-wide.leading-normal.text-grey-light Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima voluptates nesciunt sint eveniet praesentium. Quas adipisci totam vel!
        .border.border-grey-lightest.rounded-sm.m-4.p-4
          h2.text-lg.text-brand-blue.mb-2 Lorem ipsum dolor sit amet.
          p.text-sm.tracking-wide.leading-normal.text-grey-light Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima voluptates nesciunt sint eveniet praesentium. Quas adipisci totam vel!
        .border.border-grey-lightest.rounded-sm.m-4.p-4
          h2.text-lg.text-brand-blue.mb-2 Lorem ipsum dolor sit amet.
          p.text-sm.tracking-wide.leading-normal.text-grey-light Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima voluptates nesciunt sint eveniet praesentium. Quas adipisci totam vel!
        .border.border-grey-lightest.rounded-sm.m-4.p-4
          h2.text-lg.text-brand-blue.mb-2 Lorem ipsum dolor sit amet.
          p.text-sm.tracking-wide.leading-normal.text-grey-light Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima voluptates nesciunt sint eveniet praesentium. Quas adipisci totam vel!
        .border.border-grey-lightest.rounded-sm.m-4.p-4
          h2.text-lg.text-brand-blue.mb-2 Lorem ipsum dolor sit amet.
          p.text-sm.tracking-wide.leading-normal.text-grey-light Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima voluptates nesciunt sint eveniet praesentium. Quas adipisci totam vel!
        .border.border-grey-lightest.rounded-sm.m-4.p-4
          h2.text-lg.text-brand-blue.mb-2 Lorem ipsum dolor sit amet.
          p.text-sm.tracking-wide.leading-normal.text-grey-light Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima voluptates nesciunt sint eveniet praesentium. Quas adipisci totam vel!